---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4831'
      X-Ratelimit-Reset:
      - '1589235817'
      Etag:
      - W/"886439e4b6cda3602c0061f2b9a3de72"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":225492241,"node_id":"MDEwOlJlcG9zaXRvcnkyMjU0OTIyNDE=","name":"Battleship","full_name":"kathleen-carroll/Battleship","private":false,"owner":{"login":"kathleen-carroll","id":54904827,"node_id":"MDQ6VXNlcjU0OTA0ODI3","avatar_url":"https://avatars2.githubusercontent.com/u/54904827?v=4","gravatar_id":"","url":"https://api.github.com/users/kathleen-carroll","html_url":"https://github.com/kathleen-carroll","followers_url":"https://api.github.com/users/kathleen-carroll/followers","following_url":"https://api.github.com/users/kathleen-carroll/following{/other_user}","gists_url":"https://api.github.com/users/kathleen-carroll/gists{/gist_id}","starred_url":"https://api.github.com/users/kathleen-carroll/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kathleen-carroll/subscriptions","organizations_url":"https://api.github.com/users/kathleen-carroll/orgs","repos_url":"https://api.github.com/users/kathleen-carroll/repos","events_url":"https://api.github.com/users/kathleen-carroll/events{/privacy}","received_events_url":"https://api.github.com/users/kathleen-carroll/received_events","type":"User","site_admin":false},"html_url":"https://github.com/kathleen-carroll/Battleship","description":null,"fork":false,"url":"https://api.github.com/repos/kathleen-carroll/Battleship","forks_url":"https://api.github.com/repos/kathleen-carroll/Battleship/forks","keys_url":"https://api.github.com/repos/kathleen-carroll/Battleship/keys{/key_id}","collaborators_url":"https://api.github.com/repos/kathleen-carroll/Battleship/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/kathleen-carroll/Battleship/teams","hooks_url":"https://api.github.com/repos/kathleen-carroll/Battleship/hooks","issue_events_url":"https://api.github.com/repos/kathleen-carroll/Battleship/issues/events{/number}","events_url":"https://api.github.com/repos/kathleen-carroll/Battleship/events","assignees_url":"https://api.github.com/repos/kathleen-carroll/Battleship/assignees{/user}","branches_url":"https://api.github.com/repos/kathleen-carroll/Battleship/branches{/branch}","tags_url":"https://api.github.com/repos/kathleen-carroll/Battleship/tags","blobs_url":"https://api.github.com/repos/kathleen-carroll/Battleship/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/kathleen-carroll/Battleship/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/kathleen-carroll/Battleship/git/refs{/sha}","trees_url":"https://api.github.com/repos/kathleen-carroll/Battleship/git/trees{/sha}","statuses_url":"https://api.github.com/repos/kathleen-carroll/Battleship/statuses/{sha}","languages_url":"https://api.github.com/repos/kathleen-carroll/Battleship/languages","stargazers_url":"https://api.github.com/repos/kathleen-carroll/Battleship/stargazers","contributors_url":"https://api.github.com/repos/kathleen-carroll/Battleship/contributors","subscribers_url":"https://api.github.com/repos/kathleen-carroll/Battleship/subscribers","subscription_url":"https://api.github.com/repos/kathleen-carroll/Battleship/subscription","commits_url":"https://api.github.com/repos/kathleen-carroll/Battleship/commits{/sha}","git_commits_url":"https://api.github.com/repos/kathleen-carroll/Battleship/git/commits{/sha}","comments_url":"https://api.github.com/repos/kathleen-carroll/Battleship/comments{/number}","issue_comment_url":"https://api.github.com/repos/kathleen-carroll/Battleship/issues/comments{/number}","contents_url":"https://api.github.com/repos/kathleen-carroll/Battleship/contents/{+path}","compare_url":"https://api.github.com/repos/kathleen-carroll/Battleship/compare/{base}...{head}","merges_url":"https://api.github.com/repos/kathleen-carroll/Battleship/merges","archive_url":"https://api.github.com/repos/kathleen-carroll/Battleship/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/kathleen-carroll/Battleship/downloads","issues_url":"https://api.github.com/repos/kathleen-carroll/Battleship/issues{/number}","pulls_url":"https://api.github.com/repos/kathleen-carroll/Battleship/pulls{/number}","milestones_url":"https://api.github.com/repos/kathleen-carroll/Battleship/milestones{/number}","notifications_url":"https://api.github.com/repos/kathleen-carroll/Battleship/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/kathleen-carroll/Battleship/labels{/name}","releases_url":"https://api.github.com/repos/kathleen-carroll/Battleship/releases{/id}","deployments_url":"https://api.github.com/repos/kathleen-carroll/Battleship/deployments","created_at":"2019-12-03T00:02:49Z","updated_at":"2019-12-12T15:00:31Z","pushed_at":"2019-12-12T15:00:29Z","git_url":"git://github.com/kathleen-carroll/Battleship.git","ssh_url":"git@github.com:kathleen-carroll/Battleship.git","clone_url":"https://github.com/kathleen-carroll/Battleship.git","svn_url":"https://github.com/kathleen-carroll/Battleship","homepage":null,"size":62,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":240598594,"node_id":"MDEwOlJlcG9zaXRvcnkyNDA1OTg1OTQ=","name":"futbol","full_name":"Maxwell-Baird/futbol","private":false,"owner":{"login":"Maxwell-Baird","id":35742356,"node_id":"MDQ6VXNlcjM1NzQyMzU2","avatar_url":"https://avatars0.githubusercontent.com/u/35742356?v=4","gravatar_id":"","url":"https://api.github.com/users/Maxwell-Baird","html_url":"https://github.com/Maxwell-Baird","followers_url":"https://api.github.com/users/Maxwell-Baird/followers","following_url":"https://api.gi[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4830'
      X-Ratelimit-Reset:
      - '1589235817'
      Etag:
      - W[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4829'
      X-Ratelimit-Reset:
      - '1589235816'
      Etag:
      - W[...]
