// 
// p1:link, p1:visited {
//   background-color: #f44336;
//   color: white;
//   padding: 14px 25px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
// }
//
// p1:hover, p1:active {
//   background-color: DarkTurquoise;
//   display: inline-block;
//   color: red;
//   text-decoration: none;
// }

.progress-container{
      background: lightgray;
      display: inline-block;
      width: 300px;
      overflow-x: hidden;
      animation: moveInRight 3s ease-in 1s ;
     }
    progress{
     width:100%;
     display: inline-block;
     height: 25px;
    }

    progress[value] {
     vertical-align: middle;
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
     border: none;
     }

    progress[value]::-webkit-progress-bar {
      background-color: lightgray;
    }
    @keyframes moveInRight {
      0%{
      text-indent: -100%;
      }

      100% {
       text-indent: 0;
      }
    }
